.screen {
  display: flex;
  position: absolute;
  left: 17%;
  top: 17%;
  width: 64%;
  height: 64%;
  background: white;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen.hidden {
  display: none;
}
